table {
    border-collapse: collapse;
    width: 100%;
    opacity: 0.8;

 }
table th, table td {
    padding: 10px;
    text-align: center;
 }

table th {
    font-weight: bold;
    border-bottom: 2px solid black;
 }

table td {
    border: none;
 }

img {
    max-width: 100%;
    height: auto;
 }